# Проект по SQL  (продвинутый)  

### Цели исследования
https://disk.yandex.ru/i/FO-GExhnlOKR7A

### Описание данных    
https://disk.yandex.ru/i/FO-GExhnlOKR7A

<a id='step_0'></a><h3>План работы</h3>


[1. Подключиться к БД.](#step_1)   
[Первая часть](#step_1_)    
[2. Количество вопросов, которые набрали больше 300 очков или как минимум 100 раз были добавлены в «Закладки».](#step_2)    
[3. Сколько в среднем в день задавали вопросов с 1 по 18 ноября 2008 включительно?](#step_3)    
[4. Сколько пользователей получили значки сразу в день регистрации?](#step_4)    
[5. Сколько уникальных постов пользователя с именем Joel Coehoorn получили хотя бы один голос?](#step_5)     
[6. Выгрузим все поля таблицы vote_types. Добавим к таблице поле rank, в которое войдут номера записей в обратном порядке.](#step_6)     
[7. 10 пользователей, которые поставили больше всего голосов типа Close.](#step_7)     
[8. ТОП10 пользователей по количеству значков, полученных в период с 15 ноября по 15 декабря 2008 года включительно.](#step_8)    
[9. Сколько в среднем очков получает пост каждого пользователя?](#step_9)    
[10. Заголовки постов, которые были написаны пользователями, получившими более 1000 значков.](#step_10)   
[11. Данные о пользователях из США - 3 группы.](#step_11)    
[12. ТОП пользователей, которые набрали максимальное число просмотров в своей группе.](#step_12)    
[13. Ежедневный прирост новых пользователей в ноябре 2008 года.](#step_13)    
[14. Интервал между регистрацией и первым постом у пишущих пользователей.](#step_14)    
[Вторая часть](#step_2_)    
[1. ТОП месяцев 2008 года по количеству просмотров.](#step_15)    
[2.ТОП самых активных пользователей (более 100 ответов без учета вопросов).](#step_16)    
[3. ТОП месяцев 2008 года по просмотрам пользователей, зарегистрированных в сентябре и активных в декабре.](#step_17)    
[4. Таблица пользователей и их постов, сумма просмотров авторов с накоплением.](#step_18)    
[5. Сколько в среднем дней в период с 1 по 7 декабря 2008 года включительно пользователи взаимодействовали с платформой?](#step_19)    
[6. На сколько процентов менялось количество постов ежемесячно с 1 сентября по 31 декабря 2008 года?](#step_20)    
[7. Данные активности за октябрь 2008 пользователя, который опубликовал больше всего постов за всё время.](#step_21)

<a id='step_1'></a><h3>1. Подключаемся к БД.</h3>

[К плану работ](#step_0)

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import text, create_engine
# устанавливаем параметры
db_config = {'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': ______, # порт подключения
'db': 'data-analyst-advanced-project-db'} # название базы данных
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
# чтобы выполнить SQL-запрос, используем Pandas

## скачать БД не удалось, поэтому проект представлен без результатов и без выводов

<a id='step_1_'></a><h3>Первая часть</h3>

[К плану работ](#step_0)

<a id='step_2'></a><h3>2. Количество вопросов, которые набрали больше 300 очков или как минимум 100 раз были добавлены в «Закладки».</h3>

[К плану работ](#step_0)

In [ ]:
query = '''
SELECT count(p.id)
FROM stackoverflow.posts as p
JOIN stackoverflow.post_types as pt on pt.id = p.post_type_id
WHERE pt.type= 'Question'
AND p.score > 300
OR p.favorites_count >=100;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_3'></a><h3>3. Сколько в среднем в день задавали вопросов с 1 по 18 ноября 2008 включительно? </h3>

[К плану работ](#step_0)  
Результат округлите до целого числа.

In [ ]:
query = '''
SELECT ROUND(AVG(day_count),0)
FROM 
    (SELECT p.creation_date::date,
            COUNT(p.id) AS day_count
     FROM stackoverflow.posts as p
     JOIN stackoverflow.post_types  as pt on pt.id = p.post_type_id
     WHERE pt.type='Question'
     GROUP BY creation_date::date
     HAVING creation_date::date BETWEEN '2008-11-01' AND '2008-11-18') as total_ques_day;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_4'></a><h3>4. Сколько пользователей получили значки сразу в день регистрации? </h3>

[К плану работ](#step_0)  
Выведите количество уникальных пользователей.

In [ ]:
query = '''
SELECT COUNT(DISTINCT b.user_id)
FROM stackoverflow.badges as b
JOIN stackoverflow.users AS u ON b.user_id = u.id
WHERE b.creation_date::date = u.creation_date::date;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_5'></a><h3>5. Сколько уникальных постов пользователя с именем Joel Coehoorn получили хотя бы один голос?</h3>

[К плану работ](#step_0)

In [ ]:
query = '''
SELECT COUNT (DISTINCT cv.id)
FROM (SELECT p.id
      FROM stackoverflow.posts AS p
      JOIN stackoverflow.votes AS v ON p.id = v.post_id
      JOIN stackoverflow.users AS u ON p.user_id = u.id
      WHERE u.display_name LIKE '%Joel Coehoorn%'
      AND v.id > 0
      GROUP BY p.id) AS cv;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_6'></a><h3>6. Выгрузим все поля таблицы vote_types. Добавим к таблице поле rank, в которое войдут номера записей в обратном порядке. </h3>

[К плану работ](#step_0)     
Таблицу отсортируем по полю id.

In [ ]:
query = '''
SELECT*,
RANK() OVER (ORDER BY id DESC)
FROM stackoverflow.vote_types
ORDER BY id;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_7'></a><h3>7. 10 пользователей, которые поставили больше всего голосов типа Close.</h3>

[К плану работ](#step_0)  
 Отобразим таблицу из двух полей: идентификатором пользователя и количеством голосов. Отсортируем данные сначала по убыванию количества голосов, потом по убыванию значения идентификатора пользователя.

In [ ]:
query = '''
SELECT *
FROM
(SELECT v.user_id,
       COUNT (vt.id) AS cnt_v
FROM stackoverflow.votes v 
JOIN stackoverflow.vote_types vt ON vt.id=v.vote_type_id
WHERE vt.name = 'Close'
GROUP BY v.user_id
ORDER BY cnt_v DESC
LIMIT 10) AS v_adm
ORDER BY v_adm.cnt_v DESC, v_adm.user_id DESC;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_8'></a><h3>8. ТОП10 пользователей по количеству значков, полученных в период с 15 ноября по 15 декабря 2008 года включительно.</h3>
[К плану работ](#step_0)  
Отобразим несколько полей:   
идентификатор пользователя;   
число значков;   
место в рейтинге — чем больше значков, тем выше рейтинг.  
Пользователям, которые набрали одинаковое количество значков, присвоим одно и то же место в рейтинге.   
Отсортируем записи по количеству значков по убыванию, а затем по возрастанию значения идентификатора пользователя.

In [ ]:
query = '''
SELECT *,
       DENSE_RANK () OVER (ORDER BY b.b_cnt DESC) AS rating
FROM (SELECT ba.user_id,
             COUNT(ba.id) AS b_cnt
      FROM stackoverflow.badges ba
      WHERE ba.creation_date::date BETWEEN '2008-11-15' AND '2008-12-15'
      GROUP BY ba.user_id
      ORDER BY b_cnt DESC, ba.user_id 
      LIMIT 10) AS b;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_9'></a><h3>9. Сколько в среднем очков получает пост каждого пользователя? </h3>

[К плану работ](#step_0)  
Сформируем таблицу из следующих полей:   
заголовок поста;   
идентификатор пользователя;   
число очков поста;   
среднее число очков пользователя за пост, округлённое до целого числа.   
Не учитываем посты без заголовка, а также те, что набрали ноль очков.

In [ ]:
query = '''
WITH sc AS (
SELECT ROUND(AVG(score)) AS avg_score,
       user_id
FROM stackoverflow.posts
WHERE title IS NOT NULL AND score <> 0
GROUP BY user_id)

SELECT p.title,
       sc.user_id,
       p.score,
       sc.avg_score
FROM sc
JOIN stackoverflow.posts AS p ON sc.user_id=p.user_id
WHERE p.title IS NOT NULL AND p.score <> 0;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_10'></a><h3>10. Заголовки постов, которые были написаны пользователями, получившими более 1000 значков.</h3>

[К плану работ](#step_0)  
Посты без заголовков в список не попали.

In [ ]:
query = '''
WITH spisok AS
(SELECT user_id,
 COUNT(id) AS cou
FROM stackoverflow.badges
GROUP BY user_id
HAVING COUNT(id) >1000)
SELECT title
FROM stackoverflow.posts p
WHERE user_id IN (SELECT user_id FROM spisok)
AND title is not null;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_11'></a><h3>11. Данные о пользователях из США - 3 группы. </h3>

[К плану работ](#step_0)  
Напишем запрос, который выгрузит данные о пользователях из США (англ. United States). Разделим пользователей на три группы в зависимости от количества просмотров их профилей:   
пользователям с числом просмотров больше либо равным 350 присвойте группу 1;   
пользователям с числом просмотров меньше 350, но больше либо равно 100 — группу 2;   
пользователям с числом просмотров меньше 100 — группу 3.   
Отобразим в итоговой таблице идентификатор пользователя, количество просмотров профиля и группу. Пользователи с нулевым количеством просмотров в итоговую таблицу не вошли.

In [ ]:
query = '''
SELECT DISTINCT(u.id),
       u.views,
       CASE
           WHEN u.views >= 100 AND u.views < 350 THEN 2
           WHEN u.views >= 350 THEN 1
           ELSE 3
       END AS group_n
FROM stackoverflow.users u
WHERE u.location LIKE '%United States%'
AND u.views > 0;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_12'></a><h3>12. ТОП пользователей, которые набрали максимальное число просмотров в своей группе. </h3>

[К плану работ](#step_0)  
Дополним предыдущий запрос. Отобразим лидеров каждой группы — пользователей, которые набрали максимальное число просмотров в своей группе. Выведем поля с идентификатором пользователя, группой и количеством просмотров. Отсортируем таблицу по убыванию просмотров, а затем по возрастанию значения идентификатора.

In [ ]:
query = '''
WITH gr AS 
(SELECT DISTINCT(u.id),
        u.views,
        CASE
            WHEN u.views >= 100 AND u.views < 350 THEN 2
            WHEN u.views >= 350 THEN 1
            ELSE 3
        END AS group_n
FROM stackoverflow.users u
WHERE u.location LIKE '%United States%'
AND u.views > 0),
loc AS (SELECT *,
       MAX(gr.views) OVER (PARTITION BY group_n) AS max_in_group
       FROM gr)
SELECT id AS lead_group,
       group_n,
       views
FROM loc
WHERE views = max_in_group
ORDER BY views DESC, id;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_13'></a><h3>13. Ежедневный прирост новых пользователей в ноябре 2008 года. </h3>

[К плану работ](#step_0)  
Сформируем таблицу с полями:   
номер дня;   
число пользователей, зарегистрированных в этот день;   
сумму пользователей с накоплением.

In [ ]:
query = '''
WITH count_per_day AS
(SELECT EXTRACT (DAY FROM u.creation_date::date) AS day_,
        EXTRACT (MONTH FROM u.creation_date::date) AS month_,
        COUNT(u.id) AS cnt_day_new
FROM stackoverflow.users AS u
WHERE u.creation_date::date BETWEEN '2008-11-1' AND '2008-11-30'
GROUP BY EXTRACT (DAY FROM u.creation_date::date), month_)
SELECT cpd.day_,
       cpd.cnt_day_new,
       SUM(cpd.cnt_day_new) OVER (ORDER BY cpd.day_)
FROM count_per_day AS cpd;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_14'></a><h3>14. Интервал между регистрацией и первым постом у пишущих пользователей.</h3>

[К плану работ](#step_0)  
Для каждого пользователя, который написал хотя бы один пост, найдем интервал между регистрацией и временем создания первого поста.   
Отобразим:   
идентификатор пользователя;   
разницу во времени между регистрацией и первым постом.

In [ ]:
query = '''
SELECT pd.user,
       (pd.min_date_post - pd.reg_date) AS different
FROM
(SELECT DISTINCT p.user_id AS user,
       MIN(p.creation_date) OVER (PARTITION BY p.user_id) AS min_date_post,
       u.creation_date AS reg_date
FROM stackoverflow.posts p
JOIN stackoverflow.users u ON u.id = p.user_id
WHERE p.id > 0) AS pd;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_2_'></a><h3>Вторая часть</h3>

[К плану работ](#step_0)

<a id='step_15'></a><h3>1. ТОП месяцев 2008 года по количеству просмотров. </h3>

[К плану работ](#step_0)  
Выведем общую сумму просмотров постов за каждый месяц 2008 года. Пропущены месяцы без просмотров. Результат отсортирован по убыванию общего количества просмотров.

In [ ]:
query = '''
SELECT DATE_TRUNC('month', p.creation_date)::date mon,
       SUM(p.views_count) total_vie_mon
FROM stackoverflow.posts p
WHERE EXTRACT(year FROM p.creation_date::date) = 2008
GROUP BY mon--, p.views_count, p.creation_date
ORDER BY total_vie_mon DESC;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_16'></a><h3>2.ТОП самых активных пользователей (более 100 ответов без учета вопросов). </h3>

[К плану работ](#step_0)  
Выведем имена самых активных пользователей, которые в первый месяц после регистрации (включая день регистрации) дали больше 100 ответов. Вопросы, которые задавали пользователи, не учитываем. Для каждого имени пользователя выведем количество уникальных значений user_id. Отсортируем результат по полю с именами в лексикографическом порядке.

In [ ]:
query = '''
WITH ca AS
(SELECT u.display_name,
        COUNT (p.id) AS cnt_answ,
        COUNT (DISTINCT p.user_id) cnt_user 
 FROM stackoverflow.users u
 JOIN stackoverflow.posts p ON p.user_id = u.id
 JOIN stackoverflow.post_types pt ON p.post_type_id = pt.id
 WHERE pt.type LIKE '%Answer%'
 AND p.creation_date::date <= u.creation_date::date + INTERVAL '1 month'
 GROUP BY u.display_name)
SELECT ca.display_name,
       ca.cnt_user
FROM ca
WHERE ca.cnt_answ > 100
ORDER BY ca.display_name;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_17'></a><h3>3. ТОП месяцев 2008 года по просмотрам пользователей, зарегистрированных в сентябре и активных в декабре.</h3>

[К плану работ](#step_0)  
Выведем количество постов за 2008 год по месяцам. Отберем посты от пользователей, которые зарегистрировались в сентябре 2008 года и сделали хотя бы один пост в декабре того же года. Отсортируем таблицу по значению месяца по убыванию.

In [ ]:
query = '''
SELECT COUNT (p.id),
       DATE_TRUNC('month', p.creation_date::date)::date AS mon
FROM 
(SELECT u.id
        --DATE_TRUNC('month', p.creation_date::date) AS mon
FROM stackoverflow.posts p
JOIN stackoverflow.users u ON u.id = p.user_id
WHERE EXTRACT(YEAR FROM p.creation_date::date) = 2008
AND DATE_TRUNC('month', u.creation_date::date) = '2008-09-01'
AND DATE_TRUNC('month', p.creation_date::date) = '2008-12-01'
GROUP BY u.id--, DATE_TRUNC('month', p.creation_date::date)
HAVING COUNT(p.id) <> 0) AS cu
JOIN stackoverflow.posts p ON p.user_id = cu.id
GROUP BY mon
ORDER BY mon DESC;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_18'></a><h3>4. Таблица пользователей и их постов, сумма просмотров авторов с накоплением.</h3>

[К плану работ](#step_0)  
Используя данные о постах, выведем несколько полей:   
идентификатор пользователя, который написал пост;   
дата создания поста;   
количество просмотров у текущего поста;   
сумму просмотров постов автора с накоплением.   
Данные в таблице отсортируем по возрастанию идентификаторов пользователей, а данные об одном и том же пользователе — по возрастанию даты создания поста.

In [ ]:
query = '''
SELECT  DISTINCT p.user_id,
        p.creation_date,
        p.views_count,
        SUM(p.views_count) OVER (PARTITION BY p.user_id ORDER BY p.creation_date) AS tot_vie_post_user
FROM stackoverflow.posts AS p;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_19'></a><h3>5. Сколько в среднем дней в период с 1 по 7 декабря 2008 года включительно пользователи взаимодействовали с платформой? </h3>

[К плану работ](#step_0)   
Для каждого пользователя отберем дни, в которые он или она опубликовали хотя бы один пост (округлим результат).

In [ ]:
query = '''
WITH da AS
(SELECT p.user_id,
        COUNT(DISTINCT p.creation_date::date) AS a_cnt
FROM stackoverflow.posts p
WHERE DATE_TRUNC('day', p.creation_date::date) BETWEEN '2008-12-01' AND '2008-12-07'
GROUP BY p.user_id)     
SELECT ROUND(AVG(da.a_cnt),0)
FROM da;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_20'></a><h3>6. На сколько процентов менялось количество постов ежемесячно с 1 сентября по 31 декабря 2008 года? </h3>

[К плану работ](#step_0)  
Отобразим таблицу со следующими полями:   
номер месяца;   
количество постов за месяц;   
процент, который показывает, насколько изменилось количество постов в текущем месяце по сравнению с предыдущим.   
Если постов стало меньше, значение процента - отрицательное, если больше — положительное. Округлим значение процента до двух знаков после запятой (переведем делимое в тип numeric чтобы избежать при делении одного целого числа на другое в PostgreSQL в результате получится целое число, округлённое до ближайшего целого вниз).

In [ ]:
query = '''
SELECT *,
       ROUND((cnt - LAG(cnt) OVER ()) * 100.0 / (LAG(cnt) OVER()) * 1.0, 2) AS percent_diff
   
FROM (SELECT EXTRACT(MONTH FROM p.creation_date::date) AS mon,
       (COUNT(p.id)*1.0) AS cnt
FROM stackoverflow.posts p
WHERE EXTRACT(YEAR FROM p.creation_date::date)=2008
AND EXTRACT(MONTH FROM p.creation_date::date) BETWEEN 9 AND 12
GROUP BY 1) AS a;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_21'></a><h3>7. Данные активности за октябрь 2008 пользователя, который опубликовал больше всего постов за всё время.</h3>

[К плану работ](#step_0)  
Выведем данные за октябрь 2008 года в таком виде:   
номер недели;   
дата и время последнего поста, опубликованного на этой неделе.

In [ ]:
query = '''
WITH lead_user AS(
    SELECT p.user_id, COUNT(p.id)
    FROM stackoverflow.posts p
    GROUP BY 1
    ORDER BY 2 DESC
    LIMIT 1),
   lead_user_posts AS(
SELECT p.user_id, p.id, p.creation_date,
       EXTRACT(WEEK FROM p.creation_date::date) week
   FROM stackoverflow.posts p
   JOIN lead_user lu ON lu.user_id = p.user_id
   WHERE EXTRACT(YEAR FROM p.creation_date::date) = 2008
   AND EXTRACT(MONTH FROM p.creation_date::date) = 10
   ORDER BY p.creation_date
          )
SELECT DISTINCT l.week,
       LAST_VALUE(l.creation_date) OVER (PARTITION BY l.week ORDER BY l.creation_date ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS last_post
FROM lead_user_posts l
ORDER BY 1;   
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()