# Проект по SQL  (базовый)  

### Цели исследования
https://disk.yandex.ru/i/xbMKrjLKGYFGpQ

### Описание данных    
https://disk.yandex.ru/i/xbMKrjLKGYFGpQ

## скачать БД не удалось, поэтому проект представлен без результатов и без выводов

<a id='step_0'></a><h3>План работы</h3>


[1. Подключиться к БД.](#step_1)   
[2. Посчитаем, сколько компаний закрылось.](#step_2)    
[3. Отобразим количество привлечённых средств для новостных компаний США.](#step_3)    
[4. Найдем общую сумму сделок по покупке одних компаний другими в долларах.](#step_4)    
[5. Отобразим имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.](#step_5)     
[6. Выведем на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.](#step_6)     
[7. Для каждой страны отобразим общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране.](#step_7)     
[8. Составим таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.](#step_8)    
[9. Создадим поле с категориями. Отобразим все поля таблицы fund и новое поле с категориями.](#step_9)    
[10. Для каждой из категорий посчитаем количество инвестиционных раундов, в которых фонд принимал участие. Определим среднее число инвестиционных раундов по категориям.](#step_10)   
[11. В каких странах находятся фонды, которые чаще всего инвестируют в стартапы?](#step_11)    
[12. Имена и фамилии всех сотрудников стартапов и название учебного заведения, которые они окончили.](#step_12)    
[13. Количество учебных заведений, которые окончили сотрудники каждой компании. Топ 5 компаний по количеству университетов.](#step_13)    
[14. Список закрытых компаний-аутсайдеров, для которых первый раунд финансирования оказался последним.](#step_14)    
[15. Список уникальных номеров сотрудников, которые работают в компаниях-аутсайдерах](#step_15)    
[16. Таблица уникальных пар: номера сотрудников компании-аутсайдера и учебное заведение которое он окончил.](#step_16)    
[17. Количество учебных заведений для каждого сотрудника из предыдущего пункта.](#step_17)    
[18. Среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний.](#step_18)    
[19. Среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook.](#step_19)    
[20. Таблица компаний, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.](#step_20)    
[21. Таблица ТОП10 самых дорогих компаний, купленных на рынке из нашей БД.](#step_21)    
[22. Таблица, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно.](#step_22)    
[22. Таблица фондов из США купивших компании по месяцам.](#step_23)    
[24. Сводная таблица - средняя сумма инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011 - 2013 годах.](#step_24)

<a id='step_1'></a><h3>1. Подключаемся к БД.</h3>

[К плану работ](#step_0)

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import text, create_engine
# устанавливаем параметры
db_config = {'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения
'db': 'data-analyst-final-project-db'} # название базы данных
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
# чтобы выполнить SQL-запрос, используем Pandas

<a id='step_2'></a><h3>2. Посчитаем, сколько компаний закрылось.</h3>

[К плану работ](#step_0)

In [ ]:
query = '''
SELECT COUNT(status)
FROM company
WHERE status = 'closed'
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

2584

<a id='step_3'></a><h3>3. Отобразим количество привлечённых средств для новостных компаний США.</h3>

[К плану работ](#step_0)  
Используем данные из таблицы company. Отсортируем таблицу по убыванию значений в поле funding_total .

In [ ]:
query = '''
SELECT funding_total
FROM company
WHERE category_code = 'news'
AND country_code = 'USA'
GROUP BY name, category_code, funding_total
ORDER BY funding_total DESC;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_4'></a><h3>4. Найдем общую сумму сделок по покупке одних компаний другими в долларах.</h3>

[К плану работ](#step_0)  
Отберем сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

In [ ]:
query = '''
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
AND EXTRACT(YEAR FROM CAST(acquired_at AS date)) IN ('2011', '2012','2013');
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_5'></a><h3>5. Отобразим имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.</h3>

[К плану работ](#step_0)

In [ ]:
query = '''
SELECT first_name,
       last_name ,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%';
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_6'></a><h3>6. Выведем на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.</h3>

[К плану работ](#step_0)

In [ ]:
query = '''
SELECT *
FROM people
WHERE twitter_username LIKE '%money%'
AND last_name LIKE 'K%';
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_7'></a><h3>7. Для каждой страны отобразим общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране.</h3>

[К плану работ](#step_0)  
 Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируем данные по убыванию суммы.

In [ ]:
query = '''
SELECT country_code,
       SUM(funding_total)
FROM company

GROUP BY country_code
ORDER BY SUM(funding_total) DESC;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_8'></a><h3>8. Составим таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.</h3>

[К плану работ](#step_0)  
Оставим в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

In [ ]:
query = '''
SELECT funded_at,
       MIN(raised_amount),
       MAX(raised_amount)
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <>0
AND MIN(raised_amount)<> MAX(raised_amount);
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_9'></a><h3>9. Создадим поле с категориями. Отобразим все поля таблицы fund и новое поле с категориями.</h3>

[К плану работ](#step_0)  
Создадим поле с категориями:
Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.
Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.
Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.
Отобразим все поля таблицы fund и новое поле с категориями.

In [ ]:
query = '''
SELECT *,
           CASE
           WHEN invested_companies >100 THEN 'high_activity'
           WHEN invested_companies >=20 AND invested_companies <= 100 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity
FROM fund;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_10'></a><h3>10. Для каждой из категорий посчитаем количество инвестиционных раундов, в которых фонд принимал участие. Определим среднее число инвестиционных раундов по категориям.</h3>

[К плану работ](#step_0)  
Для каждой из категорий, назначенных в предыдущем действии, посчитаем округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведем на экран категории и среднее число инвестиционных раундов. Отсортируем таблицу по возрастанию среднего.

In [ ]:
query = '''
SELECT 
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity,
       ROUND(AVG(investment_rounds),0) AS avg_round
FROM fund
GROUP BY activity
ORDER BY avg_round;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_11'></a><h3>11. В каких странах находятся фонды, которые чаще всего инвестируют в стартапы?</h3>

[К плану работ](#step_0)  
Проанализируем, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы. 
Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключим страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. 
Выгрузим десять самых активных стран-инвесторов: отсортируем таблицу по среднему количеству компаний от большего к меньшему. Затем добавим сортировку по коду страны в лексикографическом порядке.

In [ ]:
query = '''
SELECT country_code,
       MIN(invested_companies),
       MAX(invested_companies),
       AVG(invested_companies)
FROM 
(SELECT *
FROM fund       
WHERE EXTRACT (YEAR FROM founded_at) BETWEEN 2010 AND 2012) AS f
 
GROUP BY country_code
HAVING MIN(invested_companies) > 0
ORDER BY AVG(invested_companies) DESC
LIMIT 10;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_12'></a><h3>12. Имена и фамилии всех сотрудников стартапов и название учебного заведения, которые они окончили.</h3>

[К плану работ](#step_0)  
Отобразим имя и фамилию всех сотрудников стартапов. Добавим поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

In [ ]:
query = '''
SELECT p.first_name,
       p.last_name,
       e.instituition
FROM people AS p
LEFT OUTER JOIN education AS e ON p.id=e.person_id;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_13'></a><h3>13. Количество учебных заведений, которые окончили сотрудники каждой компании. Топ 5 компаний по количеству университетов.</h3>

[К плану работ](#step_0)  
Для каждой компании найдем количество учебных заведений, которые окончили её сотрудники. Выведем название компании и число уникальных названий учебных заведений. Составим топ-5 компаний по количеству университетов.

In [ ]:
query = '''
SELECT c.name,
       COUNT(DISTINCT e.instituition) AS unic_inst
FROM company AS c
INNER JOIN people AS p ON c.id=p.company_id
INNER JOIN education AS e ON p.id=e.person_id
GROUP BY  c.name
ORDER BY unic_inst DESC
LIMIT 5;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_14'></a><h3>14. Список закрытых компаний-аутсайдеров, для которых первый раунд финансирования оказался последним.</h3>

[К плану работ](#step_0)  
Составим список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

In [ ]:
query = '''
SELECT DISTINCT c.name
FROM company AS c
INNER JOIN funding_round AS fr ON c.id=fr.company_id
WHERE c.status LIKE '%closed%'
AND is_first_round=1
AND is_last_round=1;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_15'></a><h3>15. Список уникальных номеров сотрудников, которые работают в компаниях-аутсайдерах.</h3>

[К плану работ](#step_0)  
Составим список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем пункте.

In [ ]:
query = '''
SELECT DISTINCT p.id
FROM company AS c
INNER JOIN funding_round AS fr ON c.id=fr.company_id
INNER JOIN people AS p ON c.id=p.company_id
WHERE c.status LIKE '%closed%'
AND is_first_round=1
AND is_last_round=1;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_16'></a><h3>16. Таблица уникальных пар: номера сотрудников компании-аутсайдера и учебное заведение которое он окончил.</h3>

[К плану работ](#step_0)  
Составим таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущего пункта и учебным заведением, которое окончил сотрудник.

In [ ]:
query = '''
SELECT DISTINCT p.id, e.instituition
FROM company AS c
INNER JOIN funding_round AS fr ON c.id=fr.company_id
INNER JOIN people AS p ON c.id=p.company_id
INNER JOIN education AS e ON p.id=e.person_id
WHERE c.status LIKE '%closed%'
AND is_first_round=1
AND is_last_round=1;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_17'></a><h3>17. Количество учебных заведений для каждого сотрудника из предыдущего пункта.</h3>

[К плану работ](#step_0)  
Посчитаем количество учебных заведений для каждого сотрудника из предыдущего пункта. При подсчёте учитываем, что некоторые сотрудники могли окончить одно и то же заведение дважды.

In [ ]:
query = '''
SELECT p.id, 
COUNT(e.instituition)
FROM people AS p
LEFT JOIN education AS e ON p.id=e.person_id
WHERE p.company_id IN
(SELECT c.id
FROM company AS c
INNER JOIN funding_round AS fr ON c.id=fr.company_id
INNER JOIN people AS p ON c.id=p.company_id
INNER JOIN education AS e ON p.id=e.person_id
WHERE c.status LIKE '%closed%'
AND is_first_round=1
AND is_last_round=1
GROUP BY c.id)
GROUP BY p.id
HAVING COUNT(DISTINCT e.instituition) >0;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_18'></a><h3>18. Среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний.</h3>

[К плану работ](#step_0)  
Дополним предыдущий запрос и выведем среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

In [ ]:
query = '''
WITH base AS
(SELECT p.id,
        COUNT(e.instituition)
FROM people AS p
LEFT JOIN education AS e ON p.id = e.person_id
WHERE p.company_id IN
        (SELECT c.id
        FROM company AS c
        JOIN funding_round AS fr ON c.id = fr.company_id
        WHERE STATUS ='closed'
        AND is_first_round = 1
        AND is_last_round = 1
            GROUP BY c.id)
GROUP BY p.id
HAVING COUNT(DISTINCT e.instituition) >0)
SELECT AVG(COUNT)
FROM base;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_19'></a><h3>19. Среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook.</h3>

[К плану работ](#step_0)  
Напишем похожий запрос: выведем среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook

In [ ]:
query = '''
WITH base AS
(SELECT p.id,
        COUNT(e.instituition)
FROM people AS p
RIGHT JOIN education AS e ON p.id = e.person_id
WHERE p.company_id IN
        (SELECT c.id
        FROM company AS c
        WHERE c.name = 'Facebook')
GROUP BY p.id)
SELECT AVG(COUNT)
FROM base;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_20'></a><h3>20. Таблица компаний, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.</h3>

[К плану работ](#step_0)  
Составим таблицу из полей:
name_of_fund — название фонда;
name_of_company — название компании;
amount — сумма инвестиций, которую привлекла компания в раунде.
В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

In [ ]:
query = '''
SELECT  f.name AS name_of_fund,
        c.name AS name_of_company,
        fr.raised_amount AS amount
FROM investment AS i
LEFT JOIN company AS c ON i.company_id=c.id
LEFT JOIN fund AS f ON i.fund_id=f.id
INNER JOIN 
(SELECT* 
 FROM funding_round AS fr 
 WHERE EXTRACT(YEAR FROM CAST(fr.funded_at AS date)) IN (2012, 2013)) AS fr ON fr.id = i.funding_round_id
WHERE c.milestones > 6;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_21'></a><h3>21. Таблица ТОП10 самых дорогих компаний, купленных на рынке из нашей БД.</h3>

[К плану работ](#step_0)  
Выгрузим таблицу, в которой будут такие поля:
название компании-покупателя;
сумма сделки;
название компании, которую купили;
сумма инвестиций, вложенных в купленную компанию;
доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.
Не учитываем те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключим такую компанию из таблицы. 
Отсортируем таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничим таблицу первыми десятью записями.

In [ ]:
query = '''
SELECT  c_buy.name AS buy,
        a.price_amount, --сумма сделки;
        c_sell.name AS sell,
        c_sell.funding_total, --сумма инвестиций, вложенных в купленную компанию;
        ROUND(a.price_amount / c_sell.funding_total)--доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.
FROM acquisition AS a
LEFT JOIN company AS c_buy ON a.acquiring_company_id = c_buy.id --2. к тому что получилось 2 раза присоедините company сначала по id компании 
LEFT JOIN company AS c_sell ON a.acquired_company_id = c_sell.id--покупателя потом по id компании продавца ( таблицы лучше обозвать company_buy и  
WHERE a.price_amount<>0--3.  в WHERE пропишите условия, что сумма покупки из acquisition не равна 0 
AND c_sell.funding_total <>0-- И сумма инвестиций в таблице company_sell  не равна 0
ORDER BY a.price_amount DESC, sell
LIMIT 10;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_22'></a><h3>22. Таблица, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно.</h3>

[К плану работ](#step_0)  
Выгрузим таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно. Проверим, что сумма инвестиций не равна нулю. Выведем также номер месяца, в котором проходил раунд финансирования.

In [ ]:
query = '''
SELECT c.name AS name_c, -- названия компаний
       EXTRACT(MONTH FROM CAST(fr.funded_at AS date)) AS mon -- дата проведения раунда
FROM company AS c
LEFT JOIN funding_round AS fr ON c.id=fr.company_id
WHERE EXTRACT(YEAR FROM CAST(fr.funded_at AS date)) BETWEEN '2010' AND '2013'
AND fr.raised_amount<>0 --сумма инвестиций, которую привлекла компания в этом раунде в долларах;
AND c.category_code = 'social'-- категория деятельности компании, например: из категории social надо отобрать;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_23'></a><h3>23. Таблица фондов из США купивших компании по месяцам.</h3>

[К плану работ](#step_0)    
Отберем данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируем данные по номеру месяца и получим таблицу, в которой будут поля:
номер месяца, в котором проходили раунды;
количество уникальных названий фондов из США, которые инвестировали в этом месяце;
количество компаний, купленных за этот месяц;
общая сумма сделок по покупкам в этом месяце.

In [ ]:
query = '''
WITH
fundings AS
(SELECT 
      EXTRACT (MONTH FROM CAST(funded_at AS date)) AS mon, --номер месяца, в котором проходили раунды;
      COUNT(DISTINCT f.name) AS id_fund
 FROM fund AS f 
 LEFT JOIN investment AS i ON f.id=i.fund_id
 LEFT JOIN funding_round AS fr ON i.funding_round_id=fr.id
 WHERE f.country_code ='USA'
 AND EXTRACT(YEAR FROM CAST(funded_at AS date)) BETWEEN 2010 AND 2013--количество уникальных названий фондов из США, которые инвестировали в этом месяце;
 GROUP BY mon),
acquisitions AS 
(SELECT EXTRACT (MONTH FROM CAST(acquired_at AS date)) AS mon,
        COUNT(a.acquired_company_id) AS acquired, --количество компаний, купленных за этот месяц;
        SUM(a.price_amount) AS sum_total--общая сумма сделок по покупкам в этом месяце.       
       FROM acquisition AS a
        WHERE EXTRACT(YEAR FROM CAST(acquired_at AS date)) BETWEEN 2010 AND 2013
        GROUP BY mon)
SELECT funding.mon,
       funding.id_fund,
       acquisitions.acquired,
       acquisitions.sum_total
FROM fundings AS funding
LEFT JOIN acquisitions AS acquisitions ON funding.mon=acquisitions.mon;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()

<a id='step_24'></a><h3>24. Сводная таблица - средняя сумма инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011 - 2013 годах.</h3>

[К плану работ](#step_0)  
Составим сводную таблицу и выведем среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год будут в отдельном поле. Отсортируем таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

In [ ]:
query = '''
WITH 
a AS (
        SELECT country_code,
               AVG(funding_total) AS inv2011
        FROM company
        WHERE EXTRACT(YEAR FROM CAST(founded_at AS DATE)) = 2011
        GROUP BY country_code),
b AS (
        SELECT country_code,
               AVG(funding_total) AS inv2012
        FROM company
        WHERE EXTRACT(YEAR FROM CAST(founded_at AS DATE)) = 2012
        GROUP BY country_code),
c AS (
        SELECT country_code,
               AVG(funding_total) AS inv2013
        FROM company
        WHERE EXTRACT(YEAR FROM CAST(founded_at AS DATE)) = 2013
        GROUP BY country_code)

SELECT a.country_code,
       a.inv2011,
       b.inv2012,
       c.inv2013
FROM a
INNER JOIN b ON a.country_code = b.country_code
INNER JOIN c ON a.country_code = c.country_code
--GROUP BY country_code 
ORDER BY a.inv2011 DESC;
'''
con=engine.connect()
df = pd.io.sql.read_sql(sql=text(query), con = con)
display(df.head())
df.info()